@font-face {
  font-family: LufgaReg;
  src: url(./assets/fonts/LufgaRegular.ttf);
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: block;
}
li {
  list-style: none;
}

// .dark {
//   &__heading{
//     color: #000;
//   }
//   &__text {
//   }
//   &__text1 {
//   }
//   &__background {
//   }
// }
// .light {
//   &__heading {
//     color: #fff;
//   }
//   &__text {
//   }
//   &__text1 {
//   }
//   &__background {
//   }
// }

.container {
  max-width: 1300px;
  margin: 0 auto;
}
