@font-face {
  font-family: LufgaReg;
  src: url(./assets/fonts/LufgaRegular.ttf);
  font-weight: 400;
  font-style: normal;
}

// * {
//   padding: 0;
//   margin: 0;
// }
// *,
// *::after,
// *::before {
//   box-sizing: border-box;
// }

// a {
//   text-decoration: none;
//   display: block;
// }
// li {
//   list-style: none;
// }

// .dark {
//   .header-dark-bg {
//     background: #fff;
//     .nav__link {
//       color: #000;
//     }
//   }

//   // color: #fff;
//   // text {
//   // }
//   // text1 {
//   // }
// }

// .container {
//   max-width: 1300px;
//   margin: 0 auto;
// }
